body {
    background-color: #202020;
}

.nav-link {
    color: darkorange;
}

.tab-pane {
    color: white;
}

#allProjects {
    list-style-type: none;
    text-align: center;
    padding: 9px;
}
.button-popup {
    margin: 20px;
    background: darkorange;
    padding: 15px;
}

.window-popup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    display: none;
}
.wp-content {
    width: 500px;
    height: 300px;
    background: white;
    color: black;
    border-radius: 3px;
    position: absolute;
    left: 30%;
    top: 25%;
}

    .wp-content a {
        padding: 10px;
        background: #3498db;
        color: white;
        text-decoration: none;
        position: absolute;
        right: 20px;
        bottom: 20px;
        border-radius: 5px;
    }