body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(lightslategrey, #343003);
    background-attachment: fixed;
}
#headImg {
    width: 22%;
    height: 22%;
    border-radius: 50%;
}
.topnav {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.topnav a {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.topnav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;

}
.topnav .icon {
    display: none;
}

#topHeader {
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#headerText {
    font-size: 3.4em;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerText1 {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgreen;
    font-size: 2.7em;
}

#imgTopHeader {
    opacity: 0.35;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

#steveJobQuoteBox {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    padding-top: 10px;
    border-color: red;
    padding-bottom: 10px;
    border-left: 15px solid yellow;
    background-color: #efece7;
    border-radius: 20px;
}

#quoteMark {
    position: relative;
    top: -35px;
    right: 130px;
    opacity: 0.2;
}

#steveJobImg {
    position: absolute;
    top: 35px;
    right: 230px;
    width: 35%;
    height: auto;
    bottom: 0px;
    padding-top: 0;
    margin-top: 0;
    /*left: 550px;*/
    opacity: 0.3;
}
#steveJobQuote {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coreValuesBoxes {
    width: 140px;
    height: 140px;
    border:5px solid #FFD700;
    background-color: #e5d79c;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 13px;
}
#welcome-section {
    color: white;
}
#coreValues {
    text-align: center;
}
#myPromise {
    font-size: 37px;
    margin: 20px 0 20px 20px;
}
/*********************************************************************************************************/
@media only screen and (max-width: 375px) {
    h1#headerText {
        font-size: 15px;
    }
    p#headerText1 {
        font-size: 15px;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 130px;
        opacity: 0.2;
    }
}
/*********************************************************************************************************/

@media only screen and (min-width: 375px) {
    h1#headerText {
        font-size: 38px;
        top: 30%;
    }
    p#headerText1 {
        font-size: 27px;
        top: 60%;
    }
    div#steveJobQuoteBox {
        margin-left: 0px;
        margin-right: 0px;
    }
    div#steveJobQuote {
        font-size: 16px;
    }
    #steveJobImg {
        position: absolute;
        width: 62.5%;
        top: 0px;
        margin-right: -270px;
        border-color: red;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 130px;
        opacity: 0.2;
    }
}
/*********************************************************************************************************/
@media (max-width: 514px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }
    .topnav.responsive {
        position: relative;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    div#steveJobQuoteBox {
        margin-left: 10px;
        margin-right: 10px;
    }
    div#steveJobQuote {
        font-size: 16px;
    }
}

/*********************************************************************************************************/
@media (min-width: 515px) {
    h1#headerText {
        font-size: 48px;
        top: 30%;
    }
    p#headerText1 {
        font-size: 37px;
        top: 60%;
    }
    #steveJobImg {
        position: absolute;
        width: 59%;
        top: 0px;
        margin-right: -270px;
        border-color: red;
    }
}
/*********************************************************************************************************/
@media (min-width: 600px) {
    h1#headerText {
        font-size: 26px;
    }
    p#headerText1 {
        font-size: 26px;
    }
    div#steveJobQuoteBox {
        margin-left: 20px;
        margin-right: 20px;
    }
    div#steveJobQuote {
        font-size: 25px;
    }
}
/*********************************************************************************************************/
@media (min-width: 800px) {
    h1#headerText {
        font-size: 40px;
    }
    p#headerText1 {
        font-size: 34.5px;
    }
    div#steveJobQuoteBox {
        margin-left: 50px;
        margin-right: 50px;
    }
    div#steveJobQuote {
        font-size: 40px;
    }
}
/*********************************************************************************************************/
@media (min-width: 1000px) {
    h1#headerText {
        font-size: 50px;
    }
    p#headerText1 {
        font-size: 44.5px;
    }
}
/*********************************************************************************************************/
@media (min-width: 1200px) {
    h1#headerText {
        font-size: 60px;
    }
    p#headerText1 {
        font-size: 54.5px;
    }
}
/*********************************************************************************************************/
@media (min-width: 1400px) {
    h1#headerText {
        font-size: 70px;
    }
    p#headerText1 {
        font-size: 64.5px;
    }
}