body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(lightslategrey, #343003);
    background-attachment: fixed;
}
#headImg {
    width: 22%;
    height: 22%;
    border-radius: 50%;
}

.topnav {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 4px 0 1px 0;
    border-bottom-color: white;
    width: 100%;
}

.topnav a {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.topnav a:hover {
    background-color: #111;
}

.active {
    background-color: #8a8009;

}

.topnav .icon {
    display: none;
}

#topHeader {
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#headerText {
    font-size: 3.4em;
    color: white;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#headerText1 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -70%);
    color: lightgreen;
    font-size: 2.7em;
}

#imgTopHeader {
    opacity: 0.35;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

#steveJobQuoteBox {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    box-shadow: 2px 2px 7px 2px rgba(80, 80, 80, 0.98), 7px 8px 2px 1px #000000;
    padding-top: 10px;
    border-color: red;
    padding-bottom: 10px;
    border-left: 15px solid yellow;
    background-color: #efece7;
    border-radius: 20px;
}

#quoteMark {
    position: relative;
    top: -35px;
    right: 330px;
    opacity: 0.2;
}

#steveJobImg {
    position: absolute;
    top: 35px;
    right: 230px;
    width: 35%;
    height: auto;
    bottom: 0px;
    padding-top: 0;
    margin-top: 0;
    /*left: 550px;*/
    opacity: 0.26;
}

#steveJobQuote {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coreValues {
    text-align: center;
}

.coreValuesBoxes {
    width: 140px;
    height: 140px;
    border: 5px solid #ffff00;
    background-color: #fff8d6;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    transform: skew(-4deg,0deg);
}

#welcome-section {
    color: white;
}

#myPromise {
    font-size: 37px;
    margin: 40px 0 20px 20px;
}
#footer {
    background-color: black;
}
.footerNote {
    color: white;
}

/*********************************************************************************************************/
@media only screen and (max-width: 375px) {
    h1#headerText {
        font-size: 25px;
        top: 30%;
    }

    p#headerText1 {
        font-size: 25px;
        top: 60%;
    }

    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 330px;
        opacity: 0.2;
    }

    .coreValuesBoxes {
        width: 170px;
        height: 130px;
        font-size: 15px;
        padding-right: 0;
    }
}

/*********************************************************************************************************/
@media only screen and (min-width: 375px) {
    h1#headerText {
        font-size: 40px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    p#headerText1 {
        font-size: 27px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div#steveJobQuoteBox {
        margin-left: 0px;
        margin-right: 0px;
    }

    div#steveJobQuote {
        font-size: 16px;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -22px;
        right: 123px;
        opacity: 0.2;
    }

    #steveJobImg {
        position: absolute;
        width: 62.5%;
        top: 0px;
        margin-right: -230px;
    }

    .coreValuesBoxes {
        width: 320px;
        height: 190px;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*********************************************************************************************************/
@media (max-width: 514px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .topnav.responsive {
        position: relative;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    div#steveJobQuoteBox {
        margin-left: 10px;
        margin-right: 10px;
    }

    div#steveJobQuote {
        font-size: 16px;
    }
}

/*********************************************************************************************************/
@media (min-width: 515px) {
    h1#headerText {
        font-size: 48px;
        top: 30%;
    }

    p#headerText1 {
        font-size: 37px;
        top: 60%;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 200px;
        opacity: 0.2;
    }
    #steveJobImg {
        position: absolute;
        width: 59%;
        top: 0px;
        margin-right: -280px;
    }

    div#steveJobQuoteBox {
        margin-left: 20px;
        margin-right: 20px;
    }

    div#steveJobQuote {
        font-size: 23px;
    }

    .coreValuesBoxes {
        width: 360px;
        height: 250px;
        font-size: 22px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*********************************************************************************************************/
@media (min-width: 600px) {
    h1#headerText {
        font-size: 58px;
    }

    p#headerText1 {
        font-size: 45px;
    }

    div#steveJobQuoteBox {
        margin-left: 30px;
        margin-right: 30px;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 220px;
        opacity: 0.2;
    }
    #steveJobImg {
        position: absolute;
        width: 55%;
        top: 0px;
        margin-right: -280px;
    }

    div#steveJobQuote {
        font-size: 27px;
    }

    .coreValuesBoxes {
        width: 200px;
        height: 320px;
        font-size: 22px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*********************************************************************************************************/
@media (min-width: 800px) {
    img#imgTopHeader {
        height: 600px;
    }
    h1#headerText {
        font-size: 60px;
        top: 40%;
        left: 27%;
        transform: translate(-30%, -60%);
    }

    p#headerText1 {
        font-size: 50px;
        top: 50%;
        left: 27%;
        transform: translate(-30%, -60%);
    }

    div#steveJobQuoteBox {
        margin-left: 90px;
        margin-right: 90px;
    }

    div#steveJobQuote {
        font-size: 34px;
    }
    #quoteMark {
        position: relative;
        width: 30%;
        top: -35px;
        right: 230px;
        opacity: 0.2;
    }

    #steveJobImg {
        position: absolute;
        width: 54%;
        top: 0px;
        margin-right: -250px;
    }

    .coreValuesBoxes {
        width: 170px;
        height: 250px;
        font-size: 16px;
        margin-left: 7px;
        margin-right: 7px;
        margin-top: 20px;
        padding: 8px 8px 5px 8px;
    }
}

/*********************************************************************************************************/
@media (min-width: 1000px) {
    h1#headerText {
        font-size: 80px;
        top: 44%;
    }

    p#headerText1 {
        font-size: 50px;
        top: 55%;
    }
    #steveJobImg {
        position: absolute;
        width: 52%;
        top: 0px;
        margin-right: -250px;
    }
    .coreValuesBoxes {
        width: 150px;
        height: 250px;
        font-size: 16px;
        margin-left: 7px;
        margin-right: 7px;
        margin-top: 30px;
    }
}