body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(lightslategrey, #343003);
}

#nav-bar {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 4px;
}

.navBarLists {
    float: left;
}

#headImg {
    width: 22%;
    height: 22%;
    border-radius: 50%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBarLists a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#topHeader {
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#headerText {
    /*font-size: 3.4px;*/
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerText1 {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgreen;
    /*font-size: 2.7px;*/
}

#imgTopHeader {
    opacity: 0.35;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

#steveJobQuoteBox {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 15px solid yellow;
    background-color: #efece7;
    border-radius: 20px;
}

#quoteMark {
    position: absolute;
    top: -35px;
    right: 730px;
    opacity: 0.2;
    -ms-transform: rotate(358deg);
    -webkit-transform: rotate(358deg);
    transform: rotate(358deg);
}

#steveJobImg {
    position: absolute;
    width: 450px;
    height: 311px;
    bottom: 0px;
    left: 550px;
    opacity: 0.3;
}

/*********************************************************************************************************/
@media only screen and (max-width: 550px) {
    h1#headerText {
        font-size: 2px;
    }

    p#headerText1 {
        font-size: 2px;
    }

    @media only screen and (min-width: 550px) {
        h1#headerText {
            font-size: 5px;
        }

        p#headerText1 {
            font-size: 5px;
        }
    }
    @media only screen and (min-width: 750px) {
        h1#headerText {
            font-size: 10px;
        }

        p#headerText1 {
            font-size: 10px;
        }
    }
    @media only screen and (min-width: 950px) {
        h1#headerText {
            font-size: 15px;
        }

        p#headerText1 {
            font-size: 15px;
        }
    }
    @media only screen and (min-width: 1150px) {
        h1#headerText {
            font-size: 20px;
        }

        p#headerText1 {
            font-size: 14.5px;
        }
    }
    @media only screen and (min-width: 1350px) {

    }
    @media only screen and (min-width: 1550px) {

    }
}
