body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(lightslategrey, #343003);
}
#headImg {
    width: 22%;
    height: 22%;
    border-radius: 50%;
}
.topnav {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 4px;
}
.topnav a {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.topnav a:hover {
    background-color: #111;
    /*position: -webkit-sticky; !* Safari *!*/
    /*position: sticky;*/
}

.active {
    background-color: #4CAF50;

}
.topnav .icon {
    display: none;
}

#topHeader {
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#headerText {
    font-size: 3.4em;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerText1 {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgreen;
    font-size: 2.7em;
}

#imgTopHeader {
    opacity: 0.35;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

#steveJobQuoteBox {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 15px solid yellow;
    background-color: #efece7;
    border-radius: 20px;
}

#quoteMark {
    position: absolute;
    top: -35px;
    right: 730px;
    opacity: 0.2;
    -ms-transform: rotate(358deg);
    -webkit-transform: rotate(358deg);
    transform: rotate(358deg);
}

#steveJobImg {
    position: absolute;
    width: 450px;
    height: 311px;
    bottom: 0px;
    left: 550px;
    opacity: 0.3;
}

/*********************************************************************************************************/

@media (min-width: 400px) {
    h1#headerText {
        font-size: 10px;
    }
    p#headerText1 {
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: left;
        display: block;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }
    .topnav.responsive {
        position: relative;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media (min-width: 600px) {
    h1#headerText {
        font-size: 10px;
    }
    p#headerText1 {
        font-size: 10px;
    }
}
@media (min-width: 800px) {
    h1#headerText {
        font-size: 40px;
    }
    p#headerText1 {
        font-size: 34.5px;
    }
}
@media (min-width: 1000px) {
    h1#headerText {
        font-size: 50px;
    }
    p#headerText1 {
        font-size: 44.5px;
    }
}
@media (min-width: 1200px) {
    h1#headerText {
        font-size: 60px;
    }
    p#headerText1 {
        font-size: 54.5px;
    }
}
@media (min-width: 1400px) {
    h1#headerText {
        font-size: 70px;
    }
    p#headerText1 {
        font-size: 64.5px;
    }
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}