#image {
    width: 30%;
    height: 30%;
}
#title {
    text-align: center;
}
#main {
    font-size: 1.2em;
}
#img-div {
    text-align: center;
    background-color: white;
    padding-top: 40px;
    /*border-radius: 50%;*/
}
img {
    border-radius: 20%;
}
#factsAbout {
    text-align: center;
}
body {
    background-color: #EFDECD;
    font-family: "Verdana";
}
li {
    padding: 3px;
}